.toast-wrap {
    position: fixed;
}

.toast-wrap .toast {
    z-index: 999999;
    position: relative;
    margin: 30px auto;
    border-radius: 3px;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.8;
    padding: 15px;
    width: fit-content;
    cursor: pointer;
}

.toast-wrap .toast:hover,
.toast-wrap .toast:focus {
    opacity: 1;
}

.toast-wrap.top-center {
    top: 30px;
    right: 0;
    width: 100%;
}

.toast-wrap.bottom-center {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-wrap.top-left {
    top: 20px;
    left: 20px;
}

.toast-wrap.bottom-left {
    bottom: 12px;
    left: 12px;
}

.toast-wrap.top-right {
    top: 12px;
    right: 12px;
}

.toast-wrap.bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-wrap.top-left .toast,
.toast-wrap.bottom-left .toast {
    margin-left: inherit;
}

.toast-wrap.top-right .toast,
.toast-wrap.bottom-right .toast {
    margin-right: inherit;
}

.toast-wrap .toast.success {
    background-color: #51a351;
}

.toast-wrap .toast.error {
    background-color: #bd362f;
}

.toast-wrap .toast.warning {
    background-color: #f89406;
}

.toast-wrap .toast.info {
    background-color: #2f96b4;
}

.toast-wrap .toast .icon {
    float: left;
    padding-right: 10px;
}